######  ######
*.pch
*.pdb
*.ncb
*.suo
*.user
*.user
*.dbproj.schemaview
*.log
*.obj
*.sdf
*.ilk
*.opendb
*.dmp
*.err
server/.vs
server/**/*.aps
server/account/Debug
server/account/Release
server/alarm/Debug
server/alarm/Release
server/bingo/Debug
server/bingo/Release
server/club/Debug
server/club/Release
server/computation/Debug
server/computation/Release
server/computation/log
server/db/Debug
server/db/Release
server/log/Debug
server/log/Release
server/match/Debug
server/match/Release
server/monserver/Debug
server/monserver/Release
server/monserver/*_Log.txt
server/recgen/Debug
server/recgen/Release
server/server/Debug
server/server/Release
server/servmon/Debug
server/servmon/Release
server/social/Debug
server/social/Release
server/tools/Debug
server/tools/Release
server/tools/Release(MySQL)
server/websvc/Debug
server/websvc/Release
server/websvc/log
BotTool/bin
BotTool/obj
Executable
server/x64/Debug
server/tools/Debug(MySQL)
*.ilk